@charset "UTF-8";
@import url("assets/bootstrap.min.css");

body {
    font-size: 16px;
}

.ml-10 {
    margin-left: 10% !important;
}

.tlh-orange {
    color: #F4811F !important;
}

.hero-image {
    background-image: url("assets/images/heroImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding: 1rem 3rem 1rem 2rem !important;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 5rem;
}

.shop-by-space-link {
    text-decoration: underline;
}

.flex-3 {
    flex: calc(100% / 3);
}

.flex-4 {
    flex: calc(100% / 4);
}

.w-95 {
    width: 95% !important;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.n-mt-5 {
    margin-top: -5rem;
}

.n-mt-2 {
    margin-top: -2rem;
}

.n-py-4{
    padding: -1.5rem;
}

.bottom-image-text {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}

.top-image-text {
    position: relative;
    bottom: 66%;
    left: 0;
}

.image-with-text {
    position: relative;
    text-align: center;
    color: white;
}

.popular-products-conainer {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: fit-content;
}